.ninthSection {
  display: flex;
  height: 370px;
  justify-content: space-around;
  align-items: center;
  padding: 0px 180px;
}

.ninthSection__leftSide {
  display: flex;
  flex-direction: column;
}

.ninthSection__leftSide--info {
  font-size: 20px;
  opacity: 0.6;
}

.ninthSection-btn a {
  border: 1px solid black;
  font-size: 25px;
  color: black;
  letter-spacing: 3px;
  text-align: center;
  padding: 20px 180px;
  box-shadow: 3px 3px 0 rgb(0, 0, 0);
}

.ninthSection-btn a:hover {
  box-shadow: 6px 6px 0 rgb(0, 0, 0);
  transform: translate(-3px, -3px);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
